body{
  background-color:#0c0479;
  text-align:  center;
  animation-name: fondos;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  
 }
  @keyframes fondos{
 
    0%{background-color:#080879;}
    25%{background-color:#430766 ;}
    50%{background-color:#04503d ;}
    85%{background-color: #013b6b,}
    70%{background-color: #5c0118;}
  }
 
  #name {
   padding: 4px;
   font-family: cursive;  
  }
 
 .styleText {
   border: 4px #ffffff solid;
   border-radius: 20px;
   width: 500px;
   height: 100px;
   margin: 5px; 
   background: #0b0116;
   color: #ffffff;
   font-size: 20px;
   padding: 7px;
 }

 p{
   font-weight: bold;
   font-size: 42px;
   color:#ffffff;
   text-shadow: 3px 5px #000000;
   font-family: "Homer Simpson", cursive;

 }
 
 #form{
   float: center;
   margin-top: 100px;
   display: none;
   margin-top: 7%;
 }
 
 .text {
   
   width: 500px;
   height: 100px;
   padding: 10px 10px;
   font-size: 20px;
   border-radius: 20px;
   border: 4px #ffffff solid;
   background-color: #000000;
   color: #ffffff;
 }
 
 .Bienvenidx{
   float: center;
   margin-top: 13%;
   
 }
 
 .estilo {
   font-weight: bold;
   width:90px;
   height:30px;
   font-size: 22px;
   margin-right: 4%;
 }
 
 .btns{
   padding: 10px 10px;
   margin: 4px;
   border-radius: 10px;
   font-weight: bold;
 }

 h1{
   color: #ffffff;
   font-size: 60px;
  
 }
